openapi: 3.1.0
info:
  title: AmericanTV Mobile API
  version: "1.0.0"
  description: |
    REST surface consumed by the native iOS/Android apps. Scope: Phase 0 (auth + account)
    and Phase 1 (discovery, playback, engagement). Creator/advertiser tooling is
    intentionally excluded from v1 — those users are directed to the web.

    Authentication: Sanctum bearer tokens. Token lifetimes follow `sanctum.expiration`.

    Errors follow Laravel's default shape: `{ "message": string, "errors"?: { field: [string] } }`.

servers:
  - url: https://americantv.vip/api/v1
    description: Production
  - url: https://staging.americantv.vip/api/v1
    description: Staging

security:
  - bearerAuth: []

tags:
  - name: auth
  - name: discovery
  - name: playback
  - name: engagement
  - name: me
  - name: purchases

paths:
  # ---------------------------- AUTH ----------------------------
  /auth/register:
    post:
      tags: [auth]
      security: []
      summary: Create a new account
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password, firstname, lastname]
              properties:
                email:      { type: string, format: email }
                username:   { type: string, minLength: 3 }
                password:   { type: string, minLength: 8 }
                firstname:  { type: string }
                lastname:   { type: string }
                mobile:     { type: string, nullable: true }
                country:    { type: string, description: "ISO-3166-1 alpha-2" }
      responses:
        "201":
          description: Account created
          content:
            application/json:
              schema: { $ref: "#/components/schemas/AuthResponse" }
        "422": { $ref: "#/components/responses/ValidationError" }

  /auth/login:
    post:
      tags: [auth]
      security: []
      summary: Exchange credentials for a Sanctum token
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [identifier, password]
              properties:
                identifier: { type: string, description: "Email or username" }
                password:   { type: string }
                device_name: { type: string, description: "Used to label the Sanctum token" }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/AuthResponse" }
        "422": { $ref: "#/components/responses/ValidationError" }
        "401": { $ref: "#/components/responses/Unauthorized" }

  /auth/logout:
    post:
      tags: [auth]
      summary: Revoke the calling token
      responses:
        "204": { description: Token revoked }

  /auth/refresh:
    post:
      tags: [auth]
      summary: Rotate the calling token
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/AuthResponse" }

  /auth/forgot-password:
    post:
      tags: [auth]
      security: []
      summary: Send a password-reset code by email
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email]
              properties:
                email: { type: string, format: email }
      responses:
        "204": { description: Code sent }

  /auth/verify-code:
    post:
      tags: [auth]
      security: []
      summary: Verify a password-reset code
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, code]
              properties:
                email: { type: string, format: email }
                code:  { type: string }
      responses:
        "200":
          description: Returns a short-lived reset token
          content:
            application/json:
              schema:
                type: object
                properties:
                  reset_token: { type: string }

  /auth/reset-password:
    post:
      tags: [auth]
      security: []
      summary: Set a new password using a reset token
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [reset_token, password]
              properties:
                reset_token: { type: string }
                password:    { type: string, minLength: 8 }
      responses:
        "204": { description: Password updated }

  /auth/social/{provider}:
    post:
      tags: [auth]
      security: []
      summary: Sign in with a platform-native OAuth identity
      description: |
        The mobile client obtains an ID token from Apple (Sign in with Apple)
        or Google (Sign in with Google), then POSTs it here. The server validates
        the token against the provider's JWK set and returns a Sanctum token.

        Apple requires Sign in with Apple on iOS if any other social login
        is offered, so the `apple` provider is mandatory.
      parameters:
        - in: path
          name: provider
          required: true
          schema: { type: string, enum: [apple, google] }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [id_token]
              properties:
                id_token: { type: string }
                nonce:    { type: string, description: "Required for Apple" }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/AuthResponse" }

  /auth/email/verify:
    post:
      tags: [auth]
      summary: Verify email with a code from the inbox
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [code]
              properties: { code: { type: string } }
      responses:
        "204": { description: Verified }

  /auth/mobile/verify:
    post:
      tags: [auth]
      summary: Verify mobile with an SMS code
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [code]
              properties: { code: { type: string } }
      responses:
        "204": { description: Verified }

  /auth/2fa/verify:
    post:
      tags: [auth]
      summary: Verify a TOTP / Google Authenticator code
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [code]
              properties: { code: { type: string } }
      responses:
        "204": { description: Verified }

  # ---------------------------- ME ----------------------------
  /me:
    get:
      tags: [me]
      summary: Get the authenticated user's profile
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: "#/components/schemas/User" }

  /me/profile:
    patch:
      tags: [me]
      summary: Update profile fields
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                firstname: { type: string }
                lastname:  { type: string }
                username:  { type: string }
                bio:       { type: string }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: "#/components/schemas/User" }

  /me/security/password:
    patch:
      tags: [me]
      summary: Change password
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [current, new]
              properties:
                current: { type: string }
                new:     { type: string, minLength: 8 }
      responses:
        "204": { description: Password updated }

  /me/wallet:
    get:
      tags: [me]
      summary: Wallet balance + currency
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  balance:  { type: number, format: float }
                  currency: { type: string }

  /me/transactions:
    get:
      tags: [me]
      summary: Paginated transaction history
      parameters:
        - { in: query, name: page,  schema: { type: integer, default: 1 } }
        - { in: query, name: type,  schema: { type: string,  enum: [deposit, purchase, earning, withdraw] } }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { type: array, items: { $ref: "#/components/schemas/Transaction" } }
                  meta: { $ref: "#/components/schemas/PaginationMeta" }

  /me/earnings:
    get:
      tags: [me]
      summary: Creator earnings summary
      responses:
        "200":
          description: OK

  /me/notifications:
    get:
      tags: [me]
      summary: List user notifications
      parameters:
        - { in: query, name: page, schema: { type: integer, default: 1 } }
      responses:
        "200":
          description: OK

  /me/notifications/{id}/read:
    post:
      tags: [me]
      parameters:
        - { in: path, name: id, required: true, schema: { type: integer } }
      responses: { "204": { description: Marked read } }

  /me/notifications/read-all:
    post:
      tags: [me]
      responses: { "204": { description: All marked read } }

  /me/device-tokens:
    post:
      tags: [me]
      summary: Register an FCM / APNs device token for push notifications
      description: |
        Persists into the existing `device_tokens` table (one row per device).
        Sending the same token twice is idempotent.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [token, platform]
              properties:
                token:    { type: string }
                platform: { type: string, enum: [ios, android] }
      responses: { "204": { description: Registered } }
    delete:
      tags: [me]
      summary: Unregister a device token
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [token]
              properties:
                token: { type: string }
      responses: { "204": { description: Unregistered } }

  # ---------------------------- DISCOVERY ----------------------------
  /feed:
    get:
      tags: [discovery]
      security: []
      summary: Home feed
      parameters:
        - { in: query, name: page, schema: { type: integer, default: 1 } }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { type: array, items: { $ref: "#/components/schemas/VideoSummary" } }
                  meta: { $ref: "#/components/schemas/PaginationMeta" }

  /videos:
    get:
      tags: [discovery]
      security: []
      summary: Search / list / browse videos
      description: |
        Unifies the existing `getAllVideos`, `search`, `categoryVideo`, and
        `trendingList` controllers into a single endpoint.
      parameters:
        - { in: query, name: q,        schema: { type: string }, description: "Search term" }
        - { in: query, name: category, schema: { type: string }, description: "Category slug" }
        - { in: query, name: sort,     schema: { type: string, enum: [trending, recent, top] } }
        - { in: query, name: page,     schema: { type: integer, default: 1 } }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { type: array, items: { $ref: "#/components/schemas/VideoSummary" } }
                  meta: { $ref: "#/components/schemas/PaginationMeta" }

  /videos/{slug}:
    get:
      tags: [discovery]
      security: []
      summary: Video metadata
      parameters:
        - { in: path, name: slug, required: true, schema: { type: string } }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: "#/components/schemas/VideoDetail" }
        "404": { $ref: "#/components/responses/NotFound" }

  /shorts:
    get:
      tags: [discovery]
      security: []
      summary: Paginated shorts feed
      parameters:
        - { in: query, name: page, schema: { type: integer, default: 1 } }
      responses: { "200": { description: OK } }

  /categories:
    get:
      tags: [discovery]
      security: []
      summary: List categories
      responses: { "200": { description: OK } }

  /channels/{slug}:
    get:
      tags: [discovery]
      security: []
      summary: Channel detail + videos
      parameters:
        - { in: path, name: slug, required: true, schema: { type: string } }
      responses: { "200": { description: OK } }

  /playlists/{slug}:
    get:
      tags: [discovery]
      security: []
      parameters:
        - { in: path, name: slug, required: true, schema: { type: string } }
      responses: { "200": { description: OK } }

  /playlists/{slug}/videos:
    get:
      tags: [discovery]
      security: []
      parameters:
        - { in: path, name: slug, required: true, schema: { type: string } }
      responses: { "200": { description: OK } }

  /plans/{slug}:
    get:
      tags: [discovery]
      security: []
      summary: Plan preview (incl. mobile IAP product IDs)
      parameters:
        - { in: path, name: slug, required: true, schema: { type: string } }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: "#/components/schemas/PlanDetail" }

  # ---------------------------- PLAYBACK ----------------------------
  /videos/{id}/source:
    get:
      tags: [playback]
      summary: Time-limited HLS manifest URL
      description: |
        Runs the existing `canAccessVideo()` check, then mints a signed
        Cloudflare Stream URL. The mobile player consumes the `hls_url`
        directly. Token validity is `expires_at`.
      parameters:
        - { in: path, name: id, required: true, schema: { type: integer } }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  hls_url:    { type: string, format: uri }
                  expires_at: { type: string, format: date-time }
                  poster:     { type: string, format: uri }
                  duration_seconds: { type: integer }
        "402":
          description: Paywalled — user must purchase to access
        "404": { $ref: "#/components/responses/NotFound" }

  /shorts/{id}/source:
    get:
      tags: [playback]
      parameters:
        - { in: path, name: id, required: true, schema: { type: integer } }
      responses: { "200": { description: OK } }

  /videos/{id}/view:
    post:
      tags: [playback]
      summary: Increment view counter
      parameters:
        - { in: path, name: id, required: true, schema: { type: integer } }
      responses: { "204": { description: Recorded } }

  # ---------------------------- ENGAGEMENT ----------------------------
  /videos/{id}/reaction:
    post:
      tags: [engagement]
      parameters:
        - { in: path, name: id, required: true, schema: { type: integer } }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [is_like]
              properties:
                is_like: { type: integer, enum: [0, 1] }
      responses: { "200": { description: OK } }

  /videos/{id}/comments:
    get:
      tags: [engagement]
      security: []
      parameters:
        - { in: path,  name: id,   required: true, schema: { type: integer } }
        - { in: query, name: page, schema: { type: integer, default: 1 } }
      responses: { "200": { description: OK } }
    post:
      tags: [engagement]
      parameters:
        - { in: path, name: id, required: true, schema: { type: integer } }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [body]
              properties:
                body: { type: string }
      responses: { "201": { description: Created } }

  /comments/{id}/reply:
    post:
      tags: [engagement]
      parameters:
        - { in: path, name: id, required: true, schema: { type: integer } }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [body]
              properties: { body: { type: string } }
      responses: { "201": { description: Created } }

  /comments/{id}/reaction:
    post:
      tags: [engagement]
      parameters:
        - { in: path, name: id, required: true, schema: { type: integer } }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [is_like]
              properties: { is_like: { type: integer, enum: [0, 1] } }
      responses: { "200": { description: OK } }

  /channels/{id}/subscribe:
    post:
      tags: [engagement]
      parameters:
        - { in: path, name: id, required: true, schema: { type: integer } }
      responses: { "200": { description: Toggled } }

  /watch-later:
    get:
      tags: [engagement]
      responses: { "200": { description: OK } }

  /watch-later/{videoId}:
    post:
      tags: [engagement]
      parameters:
        - { in: path, name: videoId, required: true, schema: { type: integer } }
      responses: { "204": { description: Added } }
    delete:
      tags: [engagement]
      parameters:
        - { in: path, name: videoId, required: true, schema: { type: integer } }
      responses: { "204": { description: Removed } }

  /history:
    get:
      tags: [engagement]
      responses: { "200": { description: OK } }
    delete:
      tags: [engagement]
      summary: Clear watch history
      responses: { "204": { description: Cleared } }

  /history/{videoId}:
    delete:
      tags: [engagement]
      parameters:
        - { in: path, name: videoId, required: true, schema: { type: integer } }
      responses: { "204": { description: Removed } }

  # ---------------------------- PURCHASES (IAP) ----------------------------
  /purchases/iap/verify:
    post:
      tags: [purchases]
      summary: Verify a StoreKit / Play Billing purchase
      description: |
        The mobile app calls this after a successful native purchase. The server
        verifies the receipt with Apple/Google, then creates a Deposit + runs
        the existing post-purchase pipeline (PurchasedPlan / PurchasedVideo /
        PurchasedPlaylist + Transaction rows). Idempotent on `transaction_id`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [platform, product_id, transaction_id, receipt]
              properties:
                platform:        { type: string, enum: [apple, google] }
                product_id:      { type: string, description: "Apple/Google product identifier" }
                transaction_id:  { type: string, description: "Apple originalTransactionId / Google orderId" }
                receipt:         { type: string, description: "Signed JWS (Apple) or purchaseToken (Google)" }
                is_subscription: { type: boolean, default: false, description: "Required for Google subscriptions" }
      responses:
        "200":
          description: Verified + unlocked
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      trx:            { type: string }
                      transaction_id: { type: string }
                      unlocked:       { type: boolean }
                      plan_id:        { type: integer, nullable: true }
                      video_id:       { type: integer, nullable: true }
                      playlist_id:    { type: integer, nullable: true }
        "422": { $ref: "#/components/responses/ValidationError" }

  /purchases/iap/restore:
    post:
      tags: [purchases]
      summary: Restore previous purchases
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [platform, entries]
              properties:
                platform: { type: string, enum: [apple, google] }
                entries:
                  type: array
                  items:
                    type: object
                    required: [product_id, transaction_id, receipt]
                    properties:
                      product_id:     { type: string }
                      transaction_id: { type: string }
                      receipt:        { type: string }
      responses:
        "200":
          description: OK

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: Sanctum

  responses:
    Unauthorized:
      description: Missing or invalid token
      content:
        application/json:
          schema: { $ref: "#/components/schemas/ErrorEnvelope" }
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema: { $ref: "#/components/schemas/ErrorEnvelope" }
    ValidationError:
      description: Request body failed validation
      content:
        application/json:
          schema:
            type: object
            properties:
              message: { type: string }
              errors:
                type: object
                additionalProperties:
                  type: array
                  items: { type: string }

  schemas:
    ErrorEnvelope:
      type: object
      properties:
        message: { type: string }

    AuthResponse:
      type: object
      properties:
        token:      { type: string }
        token_type: { type: string, example: Bearer }
        expires_at: { type: string, format: date-time, nullable: true }
        user:       { $ref: "#/components/schemas/User" }

    User:
      type: object
      properties:
        id:        { type: integer }
        username:  { type: string }
        email:     { type: string, format: email }
        firstname: { type: string }
        lastname:  { type: string }
        avatar:    { type: string, format: uri, nullable: true }
        balance:   { type: number, format: float }
        email_verified:  { type: boolean }
        mobile_verified: { type: boolean }
        two_factor_enabled: { type: boolean }

    PaginationMeta:
      type: object
      properties:
        current_page: { type: integer }
        per_page:     { type: integer }
        total:        { type: integer }
        last_page:    { type: integer }

    VideoSummary:
      type: object
      properties:
        id:          { type: integer }
        slug:        { type: string }
        title:       { type: string }
        thumbnail:   { type: string, format: uri }
        duration_seconds: { type: integer }
        views:       { type: integer }
        is_paid:     { type: boolean }
        price:       { type: number, format: float, nullable: true }
        channel:
          type: object
          properties:
            id:     { type: integer }
            slug:   { type: string }
            name:   { type: string }
            avatar: { type: string, format: uri, nullable: true }

    VideoDetail:
      allOf:
        - $ref: "#/components/schemas/VideoSummary"
        - type: object
          properties:
            description: { type: string }
            category:
              type: object
              properties:
                id:   { type: integer }
                slug: { type: string }
                name: { type: string }
            tags:        { type: array, items: { type: string } }
            likes:       { type: integer }
            dislikes:    { type: integer }
            comments:    { type: integer }
            user_reaction: { type: integer, enum: [-1, 0, 1], description: "0 = no reaction" }
            user_has_access: { type: boolean }
            subtitles:
              type: array
              items:
                type: object
                properties:
                  language: { type: string }
                  url:      { type: string, format: uri }

    PlanDetail:
      type: object
      properties:
        id:          { type: integer }
        slug:        { type: string }
        name:        { type: string }
        price:       { type: number, format: float }
        creator:     { $ref: "#/components/schemas/User" }
        video_count:    { type: integer }
        playlist_count: { type: integer }
        iap:
          type: object
          description: Apple/Google product IDs to surface in the paywall
          properties:
            apple_product_id:  { type: string, nullable: true }
            google_product_id: { type: string, nullable: true }
            mobile_price_usd:  { type: number, format: float }

    Transaction:
      type: object
      properties:
        id:        { type: integer }
        trx:       { type: string }
        trx_type:  { type: string, enum: ["+", "-"] }
        amount:    { type: number, format: float }
        charge:    { type: number, format: float }
        post_balance: { type: number, format: float }
        details:   { type: string }
        remark:    { type: string }
        created_at: { type: string, format: date-time }
